CREATEADMIN="admin@{{ client_name }}.{{ datacenter }}.synacor.com"
CREATEDOMAIN="{{ client_name }}.{{ datacenter }}.synacor.com"
DOCREATEDOMAIN="{{ do_create_domain }}"
IMAPPORT=7143
IMAPSSLPORT=7993
POPPORT=7110
POPSSLPORT=7995
DOTRAINSA=no
ENABLEDEFAULTBACKUP=no
EXPANDMENU=no
HOSTNAME="{{ hostvars[inventory_hostname]['ansible_fqdn'] }}"
JAVAHOME="{{ install_dir }}/java"
LDAPHOST="{{ ldap_host }}"
MODE=http
UPGRADE=no
REMOVE=no
RUNAV=no
RUNSA=no
SMTPDEST="admin@{{ smtp_dest }}"
SMTPHOST="{{ smtp_host }}"
SMTPNOTIFY=no
SMTPSOURCE="admin@{{ smtp_source }}"
SPELLURL="http://{{ hostvars[inventory_hostname]['ansible_fqdn'] }}:7780/aspell.php"
STARTSERVERS=yes
USEIMAPPROXY=no
USESPELL=yes
CREATEADMINPASS="{{ admin_password }}"
LDAPADMINPASS="{{ ldap_password }}"
LDAPROOTPASS="{{ ldap_password }}"
LDAPREPPASS="{{ ldap_password }}"
LDAPPOSTPASS="{{ ldap_password }}"
LDAPAMAVISPASS="{{ ldap_password }}"
ldap_nginx_password="{{ ldap_password }}"
ldap_bes_searcher_password="{{ ldap_password }}"
zimbra_require_interprocess_security=0
