####################################################################
#   CLIENT VARS                                                    #
#       This sections contains all of the clients indetification   #
#       and threshold information.                                 #
####################################################################

####################################################################
#   CLIENT IDENTIFICATION                                          #
#       This section contains all sending information.             #
####################################################################
 
$mailer_daemon = "postmaster@{{ domain }}";
$postmaster = "postmaster@synacordomains.com";
$cluster = "{{ client_name }}.{{ datacenter }}.synacor.com";
$default_cos = "{{ default_cos }}";
$default_biz_cos = "{{ biz_cos }}";
$premig_cos = "{{ premig_cos }}";
$premig_binding = "premig.{{ domain }}";
$ldap_pass = "{{ ldap_admin_pass }}";
 
####################################################################
#   THRESHOLDS                                                     #
#       All client thresholds are stored here.                     #
####################################################################

# IP  
$out_ip_threshold = 500;
$in_32_threshold = 5000;
$in_24_threshold = 10000;
$daily_limit = 5000;

# Mail From / Auth
$web_from_threshold = 100;
$web_biz_threshold = 500;
$smtp_from_threshold = 500;
$smtp_biz_threshold = 1000;
$smtp_offnet_threshold = 50;
$smtp_noauth_threshold = 1000;
$from_ip_limit = 500;
$auth_ip_limit = 500;
$auth_ip_outside_limit = 50;

# Recipient 
$max_rcptto = 100;
$max_biz_rcptto = 200;
$dha = 15;

# Connection 
$mx_connections = 5;
$smtp_connections = 3;

# Inbound Spam         
$ib_32_check = 100;
$ib_32_defer_limit = 50;
$ib_32_drop_limit = 100;
$ib_24_check = 1000;
$ib_24_defer_limit = 50;
$ib_24_drop_limit = 5000;

# Outbound Spam 
$ob_32_check = 100;
$ob_32_defer_limit = 50;
$ob_32_drop_limit = 100;
$ob_24_check = 1000;
$ob_24_defer_limit = 70;
$ob_24_drop_limit = 5000;

####################################################################
#   LOGGING THRESHOLDS                                             #
#       All client thresholds are stored here.                     #
####################################################################

# IP 
$out_ip_log_threshold = 500;
$in_32_log_threshold = 5000;
$in_24_log_threshold = 10000;
$daily_log_limit = 5000;

# Mail From
$web_from_log_threshold = 100;
$web_biz_log_threshold = 400;
$smtp_from_log_threshold = 500;
$smtp_biz_log_threshold = 1000;
$smtp_noauth_log_threshold = 100;

# Recipient
$max_log_rcptto = 100;
$max_biz_log_rcptto = 200;
$log_dha = 15;

# Connection
$mx_log_connections = 5;
$smtp_log_connections = 5;

