# vim:ts=2:sw=2:et:ft=conf:

Security {
    User = "{{ file_owner }}"
    Group = "{{ group_owner }}"
}

# Reversible Encryption support
# DO NOT DISABLE THIS if you added this during installation
#
# securecreds {}

#Networking {
#  bus = "4803"
#  cluster_group = "ec_cluster"
#}

# Centralized logs are deposited here
Logs {
    logfile = "/var/log/ecelerity/%Y/%m/%d/%{l}/%{s}/%{n}"
    file_mode = "0640"
    dir_mode = "0755"
}

Control_Listener {
    AuthDigestMD5Parameters = [
        uri = "ecauth://"
    ]
    Enable_Authentication = "true"

    Enable_Authorization = "false"
    AuthorizationParameters = [
        uri = "ecauth://"
    ]

    Listen "/tmp/2025" {
        Enable_Authentication = "false"
    }
    Listen "127.0.0.1:2025" {
    }
}

# troubleshoot the eccmgr instance by looking for its logs
# in /var/log/ecelerity/paniclog.ec
ec_logger "ec_logger"
{
    rejectlog = "/var/log/ecelerity/rejectlog.ec"
    mainlog = "/var/log/ecelerity/mainlog.ec"
    heartbeat = "0"
    paniclog = "/var/log/ecelerity/paniclog.ec"
    #acctlog = "/var/log/ecelerity/acctlog.ec"
}

include "webui-common.conf"

msgc_client {
    server = ( "127.0.0.1:4809" )
}

include "msgc_server.conf"

# Pull in auxillary information prepared by the installer; this must be the
# last thing in the top level eccluster.conf file, as it is intended to overlay
# the webui-common.conf file (for example)
readonly_include "/opt/msys/etc/installer/eccmgr.d/ecdb.conf"
