#=====  ANSIBLE   =============================================================
#          NAME:  build-ecelerity/templates/eccluster.j2
#   DESCRIPTION:  "{{ ansible_managed }}"
#==============================================================================
# vim:ts=2:sw=2:et:ft=conf:

Security {
    User = "{{ user_name }}"
    Group = "{{ group_name }}"
}

# Centralized logs are deposited here
Logs {
    {% raw %}logfile = "/var/log/ecelerity/%Y/%m/%d/%{l}/%{s}/%{n}"{% endraw %}
    file_mode = "0640"
    dir_mode = "0755"
}

Control_Listener {
    AuthDigestMD5Parameters = [
        uri = "ecauth://"
    ]
    Enable_Authentication = "true"

    Enable_Authorization = "false"
    AuthorizationParameters = [
        uri = "ecauth://"
    ]

    Listen "/tmp/2025" {
        Enable_Authentication = "false"
    }
    Listen "127.0.0.1:2025" {
    }
}

# troubleshoot the eccmgr instance by looking for its logs
# in /var/log/ecelerity/paniclog.ec
ec_logger "ec_logger"
{
    rejectlog = "/var/log/ecelerity/rejectlog.ec"
    mainlog = "/var/log/ecelerity/mainlog.ec"
    heartbeat = "0"
    paniclog = "/var/log/ecelerity/paniclog.ec"
    #acctlog = "/var/log/ecelerity/acctlog.ec"
}

include "{{ install_dir }}/etc/conf/global/webui-common.conf"

msgc_client {
    server = ( "127.0.0.1:4809" )
}

include "{{ install_dir }}/etc/conf/global/msgc_server.conf"

# Pull in auxillary information prepared by the installer; this must be the
# last thing in the top level eccluster.conf file, as it is intended to overlay
# the webui-common.conf file (for example)
readonly_include "/opt/msys/etc/installer/eccmgr.d/ecdb.conf"
