# Sample Cluster Module configuration, see the manual for more details

# Ensure that we have appropriate privileges
Security {
    user = {{ file_owner }}
    group = {{ group_owner }}

    # Linux
    Capabilities = "cap_net_admin+ep cap_net_bind_service+ep cap_net_raw+ep cap_sys_resource+ep"

    # Solaris
    Privileges = "basic net_privaddr net_bindmlp sys_resource sys_net_config net_rawaccess"
}

ec_logger "ec_logger_cluster" {
    mainlog = "cluster:///var/log/ecelerity/mainlog.cluster=>master"
    paniclog = "cluster:///var/log/ecelerity/paniclog.cluster=>master"
    rejectlog = "cluster:///var/log/ecelerity/rejectlog.cluster=>master"
    acctlog = "cluster:///var/log/ecelerity/acctlog.cluster=>master"
}

### Synacor's Custom Cluster Logging ###

custom_logger "custom_delivery" {
    delivery_format = "%t{%Y%m%d.%H%M%S} msg-id=%i host=%H from=%m@%M to=%r@%R subject='%vctx_mess{subject}' size=%B binding=%b delay=%T CMAE-Score=%vctx_mess{cmae-score} CMAE-Analysis=<%vctx_mess{cmae-analysis}>"
    delivery_logfile = "cluster:///var/log/ecelerity/delivery_log.cluster=>master"
    delivery_log_mode = "0644"
    sanitize = "yes"
}

custom_logger "custom_reception" {
    reception_format = "%t{%Y%m%d.%H%M%S} msg-id=%i host=%H from=%m@%M to=%r@%R subject='%vctx_mess{subject}' size=%B binding=%b delay=%T CMAE-Score=%vctx_mess{cmae-score} CMAE-Analysis=<%vctx_mess{cmae-analysis}> Auth=%U"
    reception_logfile = "cluster:///var/log/ecelerity/reception_log.cluster=>master"
    reception_log_mode = "0644"
    sanitize = "yes"
}

custom_logger "custom_transient" {
    transient_failure_format = "%t{%Y%m%d.%H%M%S} msg-id=%i host=%H from=%m@%M to=%r@%R size=%B binding=%b delay=%T reason=<%n>"
    transient_failure_logfile = "cluster:///var/log/ecelerity/tempfail_log.cluster=>master"
    reception_log_mode = "0644"
    sanitize = "yes"
}

bounce_logger "bounce_logger_cluster" {
    bouncelog = "cluster:///var/log/ecelerity/bouncelog.cluster=>master"
}

ECCluster_Listener {
    Listen ":4802" {}
}

msgc_client {
    server = ( "127.0.0.1:4809" )
}

cluster {
    cluster_group = {{ cluster_group }}
    control_group = {{ control_group }}
    logs = [
        rejectlog = "/var/log/ecelerity/rejectlog.cluster"
        paniclog = "/var/log/ecelerity/paniclog.cluster"
        mainlog = "/var/log/ecelerity/mainlog.cluster"
        acctlog = "/var/log/ecelerity/acctlog.cluster"
        bouncelog = "/var/log/ecelerity/bouncelog.cluster"
        deliverylog = "/var/log/ecelerity/delivery_log.cluster"
        receptionlog = "/var/log/ecelerity/reception_log.cluster"
        tempfail = "/var/log/ecelerity/tempfail_log.cluster"
        logging = "/var/log/ecelerity/logging.cluster"
    ]

    Replicate "inbound_cidr" {}
    Replicate "outbound_cidr" {}
    Replicate "outbound_domains" {}
    Replicate "shared_named_throttles" {}
    Replicate "metrics" {
        parameters="gauge_cache;audit_series;connect;reception;delivery;rejection"
    }

    # DuraVIP network topology hints
    #Topology "10.1.1.0/24" {
        #cidrmask = "32"
        #interface = "eth1"
    #}
}

include "msgc_server.conf"

# vim:ts=2:sw=2:et:ft=conf:
