#=====  ANSIBLE   =============================================================
#          NAME:  build-ecelerity/templates/installer.j2
#   DESCRIPTION:  "{{ ansible_managed }}"
#==============================================================================
$selections = {
  'cloudmark' => 'y',
  'beik' => 'n',
  'mobility' => 'n',
  {% if server_type == 'ecmgr' %}'dbroot' => '{{ db_root }}',{% endif %} {# only required for cluster manager #}
  'db_init' => '{{ db_init }}',
  'lbu' => 'y',
  'adapt_lu' => 'y',
  'expurgate' => 'n',
  'brightmail' => 'n',
  'MTA' => '{{ is_mta }}',
  'csapi' => 'n',
  'ctasd' => 'n',
  'devel' => 'y',
  {% if server_type == 'ecmgr' %}'scope' => 'n',{% endif %} {# only required for cluster manager #}
  'roles' => {
    'database' => {{ database }},
    'web' => {{ web }},
    'mta' => {{ mta }},
    'singlenode' => 0, 
    'manager' => {{ manager }}
  },
  'dbhost' => '{{ manager_hostname }}',
  {% if server_type == 'mta' %}'cluster' => 'y',{% endif %} {# only required for mta #}
  'cluster' => 'y',
  'validation-tools' => 'y',
  {% if server_type == 'mta' %}'mgrhost' => '{{ manager_hostname }}',{% endif %} {# only required for mta #}
  'encryption' => 'n',
  {% if server_type == 'mta' %}'momentum-receiving' => 'y',{% endif %} {# only required for mta #}
  'svcpasswd' => '{{ svcpasswd }}',
  {% if server_type == 'ecmgr' %}
  'cluster-mgr' => 'y',
  'DB' => 'y',
  'pgssl' => 'n',
  'ssl' => 'n',
  'adminpass' => '{{ adminpass }}',
  'subclusters' => {
    'inbound' => {
      {% for entry in inbound_hosts %}
      '{{ entry.name }}' => '{{ entry.address }}',
      {% endfor %}
    },
    'outbound' => {
      {% for entry in outbound_hosts %}
      '{{ entry.name }}' => '{{ entry.address }}',
      {% endfor %}
    },
    'manager' => {
      '{{ manager_hostname }}' => '{{ manager_ipaddr }}'
    }
  }
  {% endif %}
};
