# NOTE: This file MUST live in the global portion of the repository, as it
# must be the same for all nodes in the cluster.

msgc_server {
   peers = [
    {% for host in inbound_hosts %}
	{{ host.name }} = "{{ host.address }}"
    {% endfor %}
    {% for host in outbound_hosts %}
	{{ host.name }} = "{{ host.address }}"
    {% endfor %}
    {{ manager_hostname }} = "{{ manager_ipaddr }}"
   ]
}

MSGCServer_Listener {
   Listen ":4809" { }
}

# vim:ts=2:sw=2:et:ft=conf:
