##
## {{ ansible_managed }}
##
key "transfer-key" {
    algorithm    hmac-md5;
    secret       "{{ transfer_key }}";
};

{% for server in slave_servers %}
  server "{{ server }}" {
      keys { transfer-key; };
  };
{% endfor %}
